* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;

}

body {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('/img/library.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    height: 60vh;
}

.header {
    text-align: center;
    padding: 0px 20px;
    margin: 10px 0px;
    align-self: center;
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
}

button {
    background-color: #0f0909;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 235px;
    position: fixed;

}

.quote {
    margin: 30px 30px 30px 30px;
    text-align: justify;
}

.teller {
    color: brown;
    position: fixed;
    margin-top: 190px;
}

.container{
    margin:auto;
    margin-top: 10vh;
    width: 50%;
}
